@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: linear-gradient(
		175deg,
		rgba(221, 241, 255, 1) 0%,
		rgba(201, 255, 185, 1) 50%,
		rgba(122, 201, 255, 1) 100%
	);
	--foreground: #2c2c2c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	background-repeat: no-repeat;
	min-height: 100vh;
	font-family: var(--font-roboto), sans-serif;
}

.glassElement {
	background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
	backdrop-filter: blur(35px); /* Apply blur effect */
	-webkit-backdrop-filter: blur(35px); /* For Safari */
	/* border: 2px solid rgba(255, 255, 255, 0.1); */ /* Semi-transparent border */
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.08); /* Optional: subtle shadow */
}

.innerShadow {
	/* box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.15),
		inset -4px -4px 10px rgba(255, 255, 255, 0.15); */
}


/* Keyframes for soft bounce effect */
@keyframes bounceSoft {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(-4px);
	}
	50% {
		transform: translateY(0);
	}
	70% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0);
	}
}

.hover\:animate-bounceSoft:hover {
	animation: bounceSoft 2s ease-in-out;
}


/* SPHERES */

@keyframes float {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0, -50%);
	}
	50% {
		transform: translate(0, 50%);
	}
	75% {
		transform: translate(0, 30%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .5;
	}
}

.animate-fadeIn {
	animation: fadeIn 20s forwards;
}
